.main-container{
    background-color: #E8E7E7;
    height: 90vh;
    width: 90vw;
    border-radius: 20px;
    display: flex;
}  

.side-bar{
    flex: 0.3;
    display: flex;
    flex-direction: column;
}

.work-area{
    background-color: #fff;
    border-radius: 20px;
    flex: 0.7;
    margin: 10px;
}

.sb-header{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 20px;
}

.sb-search{
    background-color: #fff;
    padding: 5px 5px;
    margin: 10px;
    border-radius: 20px;
}

.search-box{
    outline-width: 0;
    border: none;
    font-size: 1rem;
}

.sb-conversation{
    background-color: #fff;
    padding: 10px 5px;
    margin: 10px;
    border-radius: 20px;
    flex: 1;
}